<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.user.example</string> <!-- Name of your .plist file -->
    <key>ProgramArguments</key>
    <array>
        <string>/your/path/to/python3</string> <!-- Path to your Python3 -->
        <string>/your/path/to/script</string> <!-- Path to your Python script -->
    </array>
    <key>StartCalendarInterval</key>
    <array>
    <dict>
        <!-- Start time (current 8:50 AM) -->
        <key>Hour</key>
        <integer>08</integer>
        <key>Minute</key>
        <integer>50</integer>
    </dict>
    <dict>
        <!-- End time (current 9:30 AM) -->
        <key>Hour</key>
        <integer>09</integer>
        <key>Minute</key>
        <integer>30</integer>
    </dict>
    </array>
    <key>StandardErrorPath</key>
    <string>/your/path/to/stderr</string> <!-- Path to where you want the stderr file -->
    <key>StandardOutPath</key>
    <string>/your/path/to/stdout</string> <!-- Path to where you want the stdout file -->
</dict>
</plist>
